@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Base styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* ButtonOne styles */

.buttonOne {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.buttonOne:after {
  background-color: #191919;
  border-radius: 10px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -1px;
  transform: translate(8px, 3px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.buttonOne:hover:after {
  transform: translate(0, 0);
}

.buttonOne:active {
  background-color: #191919;
  outline: 0;
}

.buttonOne:hover {
  outline: 0;
  background-color: #191919;
  color: #f9f9f9;
}

.otp-div div input:not(.form-control, .form-check-input) {
  width: 3.5em !important;
  height: 3.5em !important;
  background-color: #FFFFFF !important;
  color: #000000;
  border: 1px solid #000000 !important;
  font-weight: bolder;
  border-radius: 0.2rem !important;
}

.otp-div div span {
  color: transparent;
}